.card{
    height: 350px;
    width: 550px;
    background-color: #f7f8de;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 20px 20px 10px gray, -20px -20px 10px gray;
    transition: all 1s linear;
}

.card.night{
    color: white !important;
    height: 350px;
    width: 550px;
    background-color: #01012f;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 20px 20px 10px gray, -20px -20px 10px gray;
    transition: all 1s linear;
}

.card__header{
    margin: 20px;
    font-size: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__header-day{
    font-size: 25px;
}

.card__main, .card__bottom{
    display: flex;
    flex-direction: row;
}

.card__main{
    justify-content: space-around;
    align-items: center;
    font-size: 70px;
}

.card__bottom{
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.card__bottom-inf{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.card__main-icon{
    width: 150px;
    height: 150px;
}