.footer{
    height: 60px;
    background: linear-gradient(to right,  #76db99 0%,#28add7 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title{
    font-size: 20px;    
}
.bx{
    color: white;
    font-size: 20px;
}

.bx{
    margin-left: 10px;
}

.footer__nav-list{
    display: flex;
    list-style: none;
}
